.item {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px 40px;

	margin: 30px 0;
    
}

.hr {
	margin-left: 25px;

	border-left: 2px solid #DFDFDF;
}

.title {
	align-items: center;

	margin-bottom: 20px;

	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
}

.desc {
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
}