.title, .titleLearn {
	margin: 84px 0 34px;

	text-align: center;

	font-weight: 600;
	font-size: calc(var(--index)*2.2);
	line-height: calc(var(--index)*2);
}

.wrapper {
	display: grid;
	grid-template-columns: 50px [prog] 0.5fr [message] 0.5fr [spin] 0.5fr [price] 0.5fr [pc] 0.5fr [refund] 0.5fr [calendar] 0.5fr [refundend] 0.5fr [end] 50px;
	gap: 40px;

	align-items: stretch;
}

.prog{
	grid-column: prog/spin;
}

.spin{
	grid-column: spin/pc;
}

.pc{
	grid-column: pc/calendar;
}

.calendar{
	grid-column: calendar/end;
}

.message{
	grid-column: message/price;
}

.price{
	grid-column: price/refund;
}

.refund{
	grid-column: refund/refundend;
}


.item {
	display: grid;

	height: 100%;
	padding: 50px 35px 30px;

	border-radius: 30px;
	justify-items: center;
}

.item p {
	text-align: center;
}

.icon {
	margin-bottom: 20px;
}

.titleItem {
	margin-bottom: 10px;

	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
}

.descriptionItem {
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}

.learn {
	display: grid;
	grid-template-columns:  1fr auto;
	gap: 100px;

	overflow: hidden;

	padding: 50px 100px;
	justify-items: center;
}
.learn:last-child {
	padding-top: 0;
}
.titleLearn {
	margin: 0;
	margin-bottom: 30px;
}

.imgLearn{
	padding: 50px;

	border-radius: 50px;
	background: var(--white);
	grid-column: 2;
	grid-row: 1 ;
}

.textLearn {
	padding: 50px;
	grid-column: 1;

	border-radius: 50px;
	background-color: var(--primary-hover);
	box-shadow: 0 4px 4px rgb(0 0 0 / 4%);
}

.boy {
	width: 200px;

	transform: rotate(10deg);
}

.learn p, .learn h2{
	color: white
}
.knowleage{
	grid-column: 2;
}
.knowleageImg{
	grid-column: 1;
}

.descriptionLearn {
	font-size: calc(var(--index)*0.8);
	line-height: calc(var(--index)*1.2);
	font-weight: 300;
}


@media (width<=950px) {
	.wrapper {
		margin: 10px;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	}

	.learn{
		grid-template-columns: auto;
		padding: 50px 0;
	}

	.textLearn{
		grid-column: 1;
		grid-row: 1;
	}

	.imgLearn{
		display: none;
	}

	.prog,
	.spin,
	.pc,
	.calendar,
	.message,
	.price,
	.refund {
		grid-column: initial;
	}
}