.title {
	margin: 84px 0 34px;

	font-size: 46px;
	font-weight: 600;
	line-height: 46px;

	/* or 100% */

}

.wrapper {
	display: grid;
	grid-template-columns: [prog] 0.5fr [message] 0.5fr [spin] 0.5fr [price] 0.5fr [pc] 0.5fr [refund] 0.5fr [calendar] 0.5fr [refundend] 0.5fr [end];
	gap: 30px;

	align-items: stretch;
 }

 .prog{
    grid-column: prog/spin;
 }
 .spin{
    grid-column: spin/pc;
 }
 .pc{
    grid-column: pc/calendar;
 }
 .calendar{
    grid-column: calendar/end;
 }
 .message{
    grid-column: message/price;
 }
 .price{
    grid-column: price/refund;
 }
 .refund{
    grid-column: refund/refundend;
 }


.item {
	display: grid;
	padding: 50px 35px 30px;

	border-radius: 30px;
	justify-items: center;
}

.item p {
	text-align: center;
}

.icon {
    margin-bottom: 20px;
}

.titleItem {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
    margin-bottom: 10px;
}

.descriptionItem {
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}

@media (width<=950px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    .prog,
    .spin,
    .pc,
    .calendar,
    .message,
    .price,
    .refund {
        grid-column: initial;
    }
}