.wrapper{
	display: grid;
	align-items: center;

	padding: 25px 30px ;

	background: var(--primary);

	font-style: normal;
	grid-template-columns: 1fr [icon] auto [iconend] 30px [text] auto [textend] 1fr;
}

.icon {
	grid-column: icon/iconend;
}

.text, .textDescription {
	grid-column: text/textend;
}

.textDescription {
	align-items: end;
}

.wrapper div{
	margin-top: 6px;
	
	color: var(--white);
	
	font-size: 18px;
	font-weight: bold;

}


@media (width <= 760px) {
	.wrapper{
		grid-template-columns: 1fr;
		justify-items: center
	}
}