.header {
	display: grid;    
	align-items: center;
    
	min-height: 790px;
	padding: 30px;

	border-radius: 50px;

	background: url('/bgpng.png');
	background-position: center;
	background-size: no-repeat;
	background-size: cover;
	grid-template-columns: [start] 1fr [title] auto [titleend] 1fr [img] auto [imgend] auto [end];
}

.title, .text{
	align-self: end;

	text-align: center;

	color: var(--white);

	font-size: calc(var(--index)*2.2);
	font-weight: bold;
	grid-column: title/titleend;
}

.description{
	align-self: start;

	margin-top: 40px;

	text-align: center;

	color: var(--white);

	font-size: calc(var(--index)*1.2);
	font-weight: 400;
	grid-column: title/titleend;
}

.wrapperImg{
	grid-column: img/imgend;
	grid-row: 1/span 2;

}

.img {
	width: 600px;
}

.sc {
	text-align: center;

	color: var(--green-light);

	font-size: calc(var(--index)*2.2);
	font-weight: bold;
	grid-column: title/titleend;
}

@media (width <=1050px) {
	.header {
		background: var(--primary);
		justify-items: center;
	}

	.wrapperImg{
		grid-column: start/end;
	}

	.title{
		grid-column: start/end;
	}

	.description{
		grid-column: start/end;
	}
}

@media (width <=670px) {
	.header {
		min-height: 500px;
	}

	.wrapperImg {
		display: none;
	}
}