.reviewForm {
	display: grid;
	grid-template-columns: [start] auto [inpend] 30px [inp1] auto [inp1end] 1fr [rating] auto [end];
	gap: 20px 30px;

	align-items: center;
}

.name {
	grid-column: start/inpend;
}

.title {
	grid-column: inp1/inp1end;
}

.rating {
	grid-column: inp1end/end;
	justify-self: right;

	display: flex;
	gap: 10px;

	flex-direction: row;
}

.rating span, .desctiption {
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

.review{
	grid-column: start/end;

	margin-top: 10px;
	margin-bottom: 10px;
}

.submit {
	grid-column: start/end;
}

.desctiption {
	margin-left: 10px;
}

.success {
	position: relative;

	margin-top: 20px;
	padding: 20px;

	border-radius: 5px;
	background-color: var(--green-light);
}

.successTitle {
	font-weight: bold;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;
}

.error {
	position: relative;

	margin-top: 20px;
	padding: 20px;

	border-radius: 5px;
	background-color: var(--red);
}

.closeError{
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;

	fill: white;
}

.errorDescription {
	color: (--white);
}

@media (width <= 1320px) {
	.rating {
		display: flex;	
		flex-direction: row;

		margin-top: 20px;
		grid-column: start/end;
		justify-self: left;
	}
}

@media (width <= 650px) {
	.reviewForm {
		gap: 40px;
	}

	.name {
		grid-column: start/end;
	}
	
	.title {
		grid-column: start/end;
	}
}