* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	color: var(--black);

	font-family: var(--font-family);
	font-size: 20px;
	
}

::-webkit-scrollbar-track {
	background-color: #FFF;
} 

::-webkit-scrollbar-thumb { 
	border-radius: 5px;
	background-color: var(--primary);
} 

::-webkit-scrollbar { 
	width: 6px;
}

body{
	background: #F5F6F8; 
}

:root{
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--white: white;
	--primary: #7653FC;
	--primary-hover:#4F3C9C;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans', sans-serif;
	--gray-dark: #787D85;
	--gray: #A4A4A4;
	--index: calc(1vw + 1vh);
}


*::selection {
	color: #8EBF42 !important;
	background-color: initial !important;
}
